<h1><%= title %> : <%= brand.name %></h1>
<p><%= brand.lifespan %></p>
<% if (brand_shoes.length > 0) { %>
<p>
  <strong
    >Delete the following shoes before attempting to delete this brand.</strong
  >
</p>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Shoes</h4>
  <dl>
    <% brand_shoes.forEach(shoe => { %>
    <dt>
      <a href="<%= shoe.url %>"><%= shoe.name %></a>
    </dt>
    <dd><%= shoe.desc %></dd>
    <% }) %>
  </dl>
</div>
<% } else { %>
<!-- In a full implementation, the control would be made visible only to brandized users.-->
<p>Do you really want to delete this brand?</p>
<form action="" method="post">
  <div class="form-group">
    <input
      type="hidden"
      id="brandid"
      class="form-control"
      name="brandid"
      value="<%= brand._id %>"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
<% } %>
