<h1><%= title %></h1>
<p>
  Welcome to <%= title %> of <em>Inventory</em> a basic Express website for shoe
  inventory.
</p>
<h1>Content</h1>
<p>The inventory has the following record counts:</p>
<ul>
  <li><strong>Shoes:</strong> <%= shoe_count %></li>
  <li><strong>SKUs:</strong> <%= sku_count %></li>
  <li><strong>SKUs in stock:</strong> <%= sku_in_stock_count %></li>
  <li><strong>Brands:</strong> <%= brand_count %></li>
  <li><strong>Categories:</strong> <%= category_count %></li>
</ul>
